.contact {
    width: 1110px;
    height: 356px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #33323d;
    border-bottom: 1px solid #33323d;
    margin: 40px 0;
}

.title {
    width: 350px;
    margin-top: 60px; 
}

.content {
    width: 635px;
    margin: auto 0;
}

.socials {
    margin-top: 10px;
}

.contact-form {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

.form-title {
    width: 350px; 
}

fieldset {
    width: 635px;
    display: flex;
    flex-direction: column;
    border: none;
}

input {
    height: 48px;
    background-color: #eaeaeb;
    margin-bottom: 30px;
    border: 1px solid #eaeaeb;
}

input:focus {
    border-color: #5fb4a2;
    outline: none;
}

input:placeholder-shown {
    border: 1px solid #eaeaeb;
}

input:user-valid {/* Optional: style valid input only after interaction too */
    border-color: #5fb4a2;
}

input:not(:placeholder-shown):invalid { /* Only turn red if it's both invalid AND has text inside it */
  border-color: red;
}

textarea {    
    height: 96px;
    background-color: #eaeaeb;
    margin-bottom: 30px;
    border: 1px solid #eaeaeb;
}

textarea:focus {
    border-color: #5fb4a2;
    outline: none;
}

label {
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/*media query*/
/*mobile*/
@media (max-width: 767px) {
    .contact, .contact-form {
        width: 340px;
        height: auto;
        flex-direction: column;
    }

    .title, .content, .form-title, .form-container {
        width: 340px;
        padding: 10px;
    }

    label, input, textarea, fieldset  {
        width: 340px;
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .contact, .contact-form {
        width: 720px;
        height: auto;
        flex-direction: column;
    }

    .title, .content, .form-title, .form-container {
        width: 720px;
        padding: 10px;
    }

    label, input, textarea, fieldset  {
        width: 720px;
    }
}