.fylo-img {
    width: 1110px;
    height: 500px;
    margin: 50px 0;
}

.content {
    width: 1110px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.fylo-container {
    width: 350px;
    height: 498px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #33323d;
    border-bottom: 1px solid #33323d;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tablet-description {
    display: none;
}

.content p, span, .visit-btn {
    margin: 10px 0;
}

span {
    color: #5fb4a2;
}

.content h3 {
    margin: 20px 0;
}


.background-container {
    width: 635px;
}

.preview-img {
    width: 635px;
    margin: 20px 0;
}

/*media query*/
/*mobile*/
@media (max-width: 767px) {
    .fylo-img {
        width: 340px;
        height: 140px;
        margin: 20px 0;
    }

    .content {
        width: 340px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .fylo-container {
        width: 100%;
        height: 450px;
    }
    
    .background-container {
        width: 100%;
    }

    .preview-img {
        width: 340px;
        height: 200px;
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .fylo-img {
        width: 700px;
        height: 320px;
    }

    .content {
        width: 700px;
        display: flex;
        flex-direction: column;
    }

    .fylo-container {
        width: 100%;
        height: 260px;
        flex-direction: row;
        justify-content: space-between;
    }

    .tablet-description {
        display: block;
    }

    .desktop-description {
        display: none;
    }

    .description {
        width: 338px;
    }

    .tablet-description {
        width: 338px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background-container {
        width: 100%;
    }

    .preview-img {
        width: 700px;
        height: 440px;
    }
}