.hero-container {
    width: 1110px;
    height: 600px;
    background: url(../images/homepage/desktop/image-homepage-hero.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 50px 0;
}

.container {
    max-width: 445px;
    width: 100%;
    height: 357px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.abt-btn {
    position: absolute;
    top: 310px;
    left: 0;
}

#about {
    width: 1110px;
    margin: 50px 0;
    display: flex;
    justify-content: flex-start;
}

.about-container {
    max-width: 1015px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

.abt-section {
    width: 350px;
    height: 600px;
    border-top: 1px solid #33323d;
    border-bottom: 1px solid #33323d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abt-section p {
    margin: 40px 0;
}


