header {
    width: 85%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.hero-container {
    width: 1110px;
    height: 600px;
    background: url(../images/homepage/desktop/image-homepage-hero.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.container {
    max-width: 445px;
    width: 100%;
    height: 357px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.abt-btn {
    position: absolute;
    top: 310px;
    left: 0;
}

.about-container {
    max-width: 1015px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

