.container {
    width: 1110px;
    margin: 30px 0;
    display: flex;
}

.container div {
    width: 1015px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div section {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #33323d;
    border-bottom: 1px solid #33323d;
}

section p {
    margin: 30px 0;
}

.container img {
    width: 540px;
    height: 500px; 
}

#bookmark, #fylo {
    justify-content: flex-end;
}

/*Media queries*/
/*Mobile*/
@media (max-width: 767px) {
    .container img {
        width: 340px;
        height: 288px;
        margin: 30px 0;
    }

    .container {
        width: 340px;
    }

    .container div {
        width: 340px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    div section {
        width: 340px;
        height: 368px;
    }

    #bookmark, #fylo {
        justify-content: center;
    }

    .container .bookmark-container, .container .fylo-container { /*Need to be specific when targetting elements to override the previous declaration as CSS cares about selector strength and order. the more specific the selector i make the higher the priority.*/
        flex-direction: column-reverse;
    }

}

/*tablet*/
@media (max-width: 1024px) and (min-width: 768px) {
    .container img {
        width: 340px;
        height: 314px;
    }

    .container {
        width: 700px;
    }

    .container div {
        width: 700px;
    }

    div section {
        width: 290px;
        height: 418px;
    }
}