.container {
    width: 1110px;
    margin: 30px 0;
    display: flex;
}

.container div {
    width: 1015px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div section {
    width: 350px;
}

.container img {
    width: 540px;
    height: 500px; 
}

#bookmark {
    justify-content: flex-end;
}

#fylo {
    justify-content: flex-end;
}