.container {
    width: 1110px;
    margin: 30px 0;
    display: flex;
}

.container div {
    width: 1015px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div section {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #33323d;
    border-bottom: 1px solid #33323d;
}

section p {
    margin: 30px 0;
}

.container img {
    width: 540px;
    height: 500px; 
}

#bookmark {
    justify-content: flex-end;
}

#fylo {
    justify-content: flex-end;
}