@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Grid+Single:wght@1..9&family=Handlee&family=Ibarra+Real+Nova:ital,wght@ 4..7&family=Momo+Signature&family=Noto+Sans+JP:wght@ 1..9&family=Outfit:wght@ 1..9&family=Public+Sans:ital,wght@ 1..9&family=Red+Hat+Display:ital,wght@ 3..9&family=Roboto:ital,wght@ 1..9&family=Yesteryear&display=swap");

* {
    outline: solid red 1px;
    margin: 0;
    padding: 0;
}

header {
    width: 85%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #33323d;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 10px;
}

nav a:hover {
    color: #5FB4A2;
}

h1 {
    font-family: 'ibarra real nova', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.45px;
    color: #33323d;
}

h2 {
    font-family: 'ibarra real nova', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
    color: #33323d;
}

h3 {
    font-family: 'ibarra real nova', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.29px;
    color: #33323d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'public sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
}

/*mobile font*/
@media (max-width: 767px) {
    body {  
        font-size: 15px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Buttons*/
/*about me button*/
.abt-btn {
    width: 200px;
    height: 48px;
    background-color: #203a4c;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
}

.arrow-icon {
    width: 48px;
    height: 48px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    background-color: #1b2f3f;
}

.abt-btn:hover {
    background-color: #5FB4A2;
}

.abt-btn:hover .arrow-icon{  
    background-color: #428374;
}/*:hover only affects the element it’s applied to, so child elements won’t change together unless they’re targeted through the parent. Using .parent:hover .child lets all parts respond at once, keeping hover styles consistent.*/

/*portfolio button*/
.port-btn {
    width: 202px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.port-btn:hover {
    background-color: #33323d;
    color: white;
}

/*contact me button*/
.cnt-btn {
    width: 162px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.cnt-btn:hover {
    background-color: #33323d;
    color: white;
}

/*project button*/
.project-btn {
    width: 175px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.project-btn:hover {
    background-color: #33323d;
    color: white;
}

/*visit website button*/
.visit-btn {
    width: 178px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.visit-btn:hover {
    background-color: #33323d;
    color: white;
}

/*send message button*/
.send-btn {
    width: 200px;
    height: 48px;
    background-color: #203a4c;
    color: #fff;
    text-transform: uppercase;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
}