@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Grid+Single:wght@1..9&family=Handlee&family=Ibarra+Real+Nova:ital,wght@ 4..7&family=Momo+Signature&family=Noto+Sans+JP:wght@ 1..9&family=Outfit:wght@ 1..9&family=Public+Sans:ital,wght@ 1..9&family=Red+Hat+Display:ital,wght@ 3..9&family=Roboto:ital,wght@ 1..9&family=Yesteryear&display=swap");

* {
    outline: 1px red solid;
    margin: 0;
    padding: 0;
}

header {
    width: 1110px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.hamburger, .nav-mobile {
    display: none;
}

nav a {
    text-decoration: none;
    color: #33323d;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 10px;
}

nav a:hover {
    color: #5FB4A2;
}

footer nav a {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: 'ibarra real nova', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.45px;
    color: #33323d;
}

h2 {
    font-family: 'ibarra real nova', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
    color: #33323d;
}

h3 {
    font-family: 'ibarra real nova', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.29px;
    color: #33323d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'public sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
}

/*mobile font*/
@media (max-width: 767px) {
    body {  
        font-size: 15px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*page navigation section*/
.page-nav {
    width: 1110px;
    height: 132px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #33323d;
    border-bottom: 1px solid #33323d;
}

.page-btn {
    display: flex;
    width: 162px;
    height: 132px;
    display: flex;
    align-items: center;
    margin: auto 0;
}

.arrow {
    width: 8px;
    height: 16px;
    margin: 0 10px;
}

.center-line {
    width: 1px;
    background-color: #33323d;
    height: 100%;
}

/*Contact section*/
.contact-container {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.contact-container h2 {
    width: 350px;
    height: 84px;
}

.line-spacer {
    width: 534px;
    height: 1px;
    background-color: #33323d;
    margin: auto;
}

.cnt-btn {
    margin: 18px 0;
}

/*Footer section*/
footer {
    width: 100%;
    background-color: #33323d;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 40px;
}

.footer-img {
    filter: brightness(0) invert(1); 
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px 0;
}

.social-img {
    background: none;
    filter: brightness(0) invert(1);/*This turn darks svg to white*/
}

a {
    text-decoration: none;
    color: #33323d;
}

/*Buttons*/
/*about me button*/
.abt-btn {
    width: 200px;
    height: 48px;
    background-color: #203a4c;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
}

.arrow-icon {
    width: 48px;
    height: 48px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    background-color: #1b2f3f;
}

.abt-btn:hover {
    background-color: #5FB4A2;
}

.abt-btn:hover .arrow-icon{  
    background-color: #428374;
}/*:hover only affects the element it’s applied to, so child elements won’t change together unless they’re targeted through the parent. Using .parent:hover .child lets all parts respond at once, keeping hover styles consistent.*/

/*portfolio button*/
.port-btn {
    width: 202px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.port-btn:hover {
    background-color: #33323d;
    color: white;
}

/*contact me button*/
.cnt-btn {
    width: 162px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.cnt-btn:hover {
    background-color: #33323d;
    color: white;
}

/*project button*/
.project-btn {
    width: 175px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.project-btn:hover {
    background-color: #33323d;
    color: white;
}

/*visit website button*/
.visit-btn {
    width: 178px;
    height: 48px;
    background-color: #fff;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.visit-btn:hover {
    background-color: #33323d;
    color: white;
}

/*send message button*/
.send-btn {
    width: 200px;
    height: 48px;
    background-color: #203a4c;
    color: #fff;
    text-transform: uppercase;
    font: 'public sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
}

/*Media query*/
/*Mobile*/
@media (max-width: 767px) {
    header {
        width: 340px;
    }

    .hamburger-icon, .close-icon {
        background-color: white;
    }

    .nav-desktop {
        display: none;
    }

    .hamburger {
        display: flex;
        border: none;
        cursor: pointer;
    }

    .close-icon {
        display: none;
    }

    .hamburger.active .hamburger-icon {
        display: none;
    }

    .hamburger.active .close-icon {
        display: flex;
    }

    .nav-mobile {
        width: 223px;
        height: 186px;
        background-color: #33323d;
        position: absolute;
        top: 64px;
        right: 0;
        z-index: 1000;
        display: none;
    }

    .nav-mobile.active { /*JavaScript automatically adds the active status after the user clicks on it*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-mobile a {
        color: white;
    }

    .nav-mobile ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-mobile li {
        margin: 10px 0;
    }

    .contact-container {
        width: 340px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .contact-container h2 {
        width: 340px;
    }

    .line-spacer {
        display: none;
    }

    footer {
        height: 354px;
    }

    .footer-container {
        width: 340px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-links nav {
        display: flex;
        flex-direction: column;
    }

    .footer-links a {
        margin: 10px 0;
    }
    
    .footer-img {
        width: 60.08px;
    }
}